.container {
    .input-cont {
        height: 90px;
        padding: 10px;
        font-size: 28px;
        background: pink;
        navigator {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
        }
    }
    .swiper-cont {
        swiper {
          width: 750px;
          height: 450px;
          image {
            width: 100%;
          }
        } 
      }
}